@tailwind base;

h1 {
	@apply text-2xl;
	@apply font-bold;
}
h2 {
	@apply text-xl;
	@apply font-semibold;
}
h3 {
	@apply text-lg;
}

pre {
	@apply bg-blue-100;
	@apply px-2;
	@apply py-4;
	@apply border-l-4;
	@apply border-pink-600;
	@apply text-gray-900;
	@apply overflow-auto;
}

code {
	@apply font-semibold;
}

ul {
	@apply ml-6;
}

li {
	@apply list-disc;
}

@font-face {
	font-family: 'SiyamRupali';
	font-style: normal;
	font-weight: 400;
	src: local('SiyamRupali'), local('SiyamRupali-Regular'), url('./Siyam\ Rupali\ ANSI.ttf');
}

@tailwind components;

@tailwind utilities;
